
/* For Mobile devices */
@media only screen and (max-width:425px) {
    
    h1 {
        font-size: 2em !important; 
    }

    .slogan {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50%;
        width: 300px;
        height: auto;
    }

    .chevron_down {
        margin-top:40%;
    }
}


/* For Tablets */
@media only screen and (min-width:426px) and (max-width:768px) {

    h1 {
        font-size: 2em !important; 
    }

    .slogan {
        margin-top: 10%;
        margin-left: 5%;        
        width: 60vw;
    }

    .chevron_down {
        margin-top: 8%;
    }
}

/* For Desktops */
@media only screen and (min-width:769px) {

    .slogan {
        margin-top: 13%;
        margin-left: 5%;        
        width: 45vw;
    }

    .chevron_down {
        margin-top: 10%;
    }
}

/* general styles */

* {
    transition: all ease 0.5s;
}

body {
    background-color:#fafafa;
}

nav {
    background-color: transparent;
}

section {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    color: #515151;
    font-size: 2.5em;
    font-weight: bolder;
}
h3 {
    color: #515151;
    font-size: 1.4em;
}

footer {
    width: 100%;
    background-color: #05263b !important;
}


.slogan{
    border: solid white 3px;
    font-weight: 900;
    padding: 30px;
}

.hero-banner{
    width: 100%;
    height: 100%;
    background-color: #7272FF;
    /* Photo by Dan Kiefer on Unsplash */
    background-image: url('../images/climf-hero-banner-2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-content {
    padding: 10% 0 10% 0;
    margin: auto;
}

.events {
    background-color: grey;
    background-image: url('../images/CLIMF-default-bg-image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.events .section-content, .contact-us .section-content {
    padding: 10% 0 10% 10%;
    margin: auto;
}

.events h2, .events h3 {
    color: white;
}

.map-wrapper {
    display: block;
    width: 100%;
    height: 520px;
    margin: 0px !important;
    padding: 0px !important;
}

.footer-links li {
    padding-bottom: 15px;
    font-weight: bold;
}

/* Misc */
.center {
    display: block;
    width: 100%;
    text-align: center;
}
.no-padding {
    padding: 0px !important;
}

.no-margin{
    margin: 0px !important;
}

.bold {
    font-weight: bolder;
}



